@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
* {
    transition: all .5s;
    font-family: 'Prompt', sans-serif;
    
}


/* header */
header {
    color: black;
}

ul {
    padding-inline-start: 0;
}

.nav-tabs {
    --bs-nav-tabs-border-width: none;
    font-size: 12px;
    position: relative;
}

.nav-tabs .nav-delivery {
    font-size: 14px;
}

.nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

li {
    margin-left: 10px;

}


.line {
    width: .5px;
    height: 80%;
    top: 10%;
    position: relative;
    display: inline-block;
    background-color: grey;
    color: grey;
}

#select-address {
    background-color: #912e00;
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}


#select-address:focus {
    border: none;
}

#select-address::placeholder {
    color: var(--white);
    text-align: center;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}


.pizza-set {
    height: 100%;
    line-height: 3;
    padding-top: 15px;
}

.pizza-set:hover {
    background-color: var(--brown);

}
.see-nav{
    color: var(--white);
}
.see-nav:hover{
    color: white;
}
#b1g1{
    background-color: var(--brown);
}
.see-nav-b1g1{
    color: var(--yellow);
}
#va-set{
    background-color: var(--brown);
}
.see-nav-va-set{
    color: var(--yellow);
}

.deli-take {
    height: 30px;
    width: 50%;
    justify-content: center;
}

.deliver {
    background-color: var(--red);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
}

#logo {
    width: calc(94.1px/.9);
    height: calc(85px/.9);
}

#logo-img {
    width: 100%;
    height: 100%;
}

.nav-delivery {
    width: 350px;
    margin-right: 30px;
}

.toggle-button {
    position: absolute;
    top: 28px;
    bottom: 0;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
    z-index: 5;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 500px;
}

@media (max-width: 850px) {
    .toggle-button {
        display: flex;
    }

    .pizza-set {
        height: 50%;
        padding-top: 0;
    }

    .navbar-links {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (max-width: 600px) {
    .nav-delivery {
        width: 300px;
    }
}

@media (max-width: 550px) {
    .nav-delivery {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .nav-delivery {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .nav-delivery {
        width: 150px;
    }
}

@media (max-width: 400px) {
    #logo {
        display: none;
    }
}

/* header navbar css จบแค่นี้ */

/* section1 */
#sec1 {
    height: calc(605px / 1.5);
}

#ad-container {
    width: calc(958px / 1.2);
    height: calc(605px / 1.5);
    position: relative;
    margin: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 850px) {
    #ad-container {
        width: calc(958px / 1.5);
    }
}

@media only screen and (max-width: 700px) {
    #ad-container {
        width: calc(958px / 1.9);
    }
}

@media only screen and (max-width: 600px) {
    #ad-container {
        width: calc(958px / 2.2);
    }
}

@media only screen and (max-width: 500px) {
    #ad-container {
        width: calc(958px / 2.7);
    }
}

@media only screen and (max-width: 400px) {
    #ad-container {
        width: calc(958px / 3.4);
    }
}

@media only screen and (max-width: 300px) {
    #ad-container {
        width: calc(958px / 4.5);
    }
}

.advertising {
    position: absolute;
    width: calc(1437px / 2);
    height: calc(908px / 2);
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 850px) {
    .advertising {
        width: calc(958px / 2.5);
        height: calc(605px / 2.5);
    }

    #sec1 {
        height: calc(605px / 2);
    }
}

@media only screen and (max-width: 700px) {
    .advertising {
        width: calc(958px / 3);
        height: calc(605px / 3);
    }

    #sec1 {
        height: calc(605px / 2.5);
    }
}

@media only screen and (max-width: 600px) {
    .advertising {
        width: calc(958px / 3.5);
        height: calc(605px / 3.5);
    }

    #sec1 {
        height: calc(605px / 3);
    }
}

@media only screen and (max-width: 500px) {
    .advertising {
        width: calc(958px / 4);
        height: calc(605px / 4);
    }

    #sec1 {
        height: calc(605px / 3.5);
    }
}

@media only screen and (max-width: 400px) {
    .advertising {
        width: calc(958px / 4.5);
        height: calc(605px / 4.5);
    }

    #sec1 {
        height: calc(605px / 4);
    }
}

@media only screen and (max-width: 300px) {
    .advertising {
        width: calc(958px / 5);
        height: calc(605px / 5);
    }

    #sec1 {
        height: calc(605px / 4.5);
    }
}

.card-hov:hover {
    transform: scale(1.15, 1.15);
}

#card1 {
    left: -50%;
    z-index: 0;
}

#card1,
#card3,
#card4 {
    transform: scale(.8, .8);
    opacity: .5;
}

#card2 {
    z-index: 1;
}

#card3 {
    right: -50%;
    z-index: 0;
}

#card4 {
    z-index: -1;
}

.arrow {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 10%;
    height: 14%;
}

.arrow-right {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.arrow-left {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#btleft2,
#btright2 {
    display: block;
}

#btleft1,
#btleft3,
#btleft4,
#btright1,
#btright3,
#btright4 {
    display: none;
}

/* section ad จบที่นี่ */

/* section 2 */
#sec2 {
    width: 80%;
    margin: auto;
    color: white;
}






body {
    height: 100vh;
    font-size: clamp(14px, 2.5vw, 20px);
    background-color: var(--brown);
    margin: 0;
    padding: 0;
    color: #fff;
    --red: #912e00;
    --brown: hsl(26, 51%, 15%);
    --dark_brown: hsl(26, 26%, 12%);
    --grey: hsl(0, 0%, 78%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --white1: hsla(0, 0%, 100%, .7);
    --blue: hsl(240, 100%, 50%);
    --yellow: #dabf91;
}

/* ปุ่ม-------------------------------------------------------------START*/
#bar-flex {
    padding: auto;
}

/* ปุ่ม deli-take */
#deli-take {
    /* background-color: var(--grey); */
    width: 350px;
}

/*ปุ่ม selectadd*/
#selectAdd {
    background: var(--grey);
    border-color: var(--grey);
    color: var(--black);
    width: 350px;
}

#bg-select-drop {
    background: var(--red);
    width: 350px;
}

/* ใช้กับ TH-EN , deli-take */
#nav {
    font-size: 20px;
    color: var(--black);
}

#nav:hover {
    color: var(--white);
}

/* ปุ่ม-------------------------------------------------------------END*/


/*       Value set       */

#pic-bg {
    background: #912e00;
}

#text-bg {
    background: #912e00;
}

#back {
    font-size: 50px;
    color: var(--white);
    margin-left: 10px;
}

#back:hover {
    color: var(--grey);
}

#plus {
    font-size: 20px;
    background: var(--brown);
    color: var(--white);
}

#plus:hover {
    background: var(--grey);
}

#name_value_set {
    margin-left: 10%;
}

#text_value_set {
    margin-left: 10%;
    margin-right: 10%;
}

/* #next,
#price, */
#pizza1,
#pizza2,
#pizza3,
#pizza4,
#pizza5,
#pizza6 {
    background: #912e00;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5%;
}
/* #912e00 */


#choose_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #button_choose_pasta,
#button_choose_size,
#button_choose_face,
#button_choose_part {
    background: hsla(0, 0%, 100%, 0.5);
    color: hsl(0, 0%, 100%);
    padding: 10px;
} */

/* botton next */
#next1,
#next2,
#next3,
#last{
    background-color: var(--yellow);
    color: black;
}



#topping {
    text-align: center;
    padding-top: 10px;
}

#name-topping {
    color: #000000;
    text-align: center;
}

#icon-plus-circle,
#icon-dash-circle {
    color: #000000;
    font-size: 25px;
}

#icon-dash-circle {
    float: left;
}

#icon-plus-circle {
    float: right;
}

/* ปุ่มเลือก พิซซ่า | ไก่ */


#pom_select_1{
    background-color: #912e00;
    color: #ffffff;
}
#pom_select_2,
#pom_select_3,
#pom_select_4,
#pom_select_5,
#pom_select_6 {
    background: #CBB09C;
    color: black;
}

#pom_select_1:hover,
#pom_select_2:hover,
#pom_select_3:hover,
#pom_select_4:hover,
#pom_select_5:hover,
#pom_select_6:hover {
    color: #ffffff !important;
    background-color: var(--brown)  !important;
}

#pom_select {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#button_choose_part {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#total_set_value {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background: var(--grey);
}

#footer {
    width: 100%;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: var(--grey);
}
    #card-topping{
        font-size:  15px;
    }


footer{
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#name_footer{
    font-size: 30px;
    color: rgb(218, 218, 218);
}

#add_footer,#contact_footer,#f_footer,#e_footer,#i_footer{
    color: #fff;
}

#add_footer:hover,#contact_footer:hover,#f_footer:hover,#e_footer:hover,#i_footer:hover,#order_footer:hover{
    color:var(--grey);
}
#order_footer{
    color: #fff;
}

#time_footer{
    background: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    font-size: 16px;
}
/* cart */
.open-btn{
    position: fixed;
    writing-mode: vertical-rl;
    bottom: 50%;
    right: 10px;
}

.popup-screen {
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.popup-screen.active{
    visibility: visible;
}
.popup-cart {
    position: relative;
    background: var(--brown);
    backdrop-filter: blur(10px);
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px 30px;
    box-shadow: 0 5px 25px;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
}
.popup-screen.active .popup-cart{
    transform: scale(1);
}

.popup-cart .top {
    margin-bottom: 0px;
    font-size: 1.3em;
}

.popup-cart .top h2 {
    position: relative;
    float: left;
}

.popup-cart .top button {
    position: fixed;
    right: 3vh;
}

.popup-cart .text {
    width: 95%;
}

.popup-cart .text h5 {
    font-size: 1.2em;
    text-align: left;
}

.popup-cart .order-wrap {
    padding: auto;
    margin-bottom: 10px;
    max-height: 220px;
    overflow-y: auto;

}

.popup-cart .order-wrap .box{
    background-color: var(--red);
    color: white;
    width: 400px;
    border-radius: 10px;
    min-height: 90px;
    max-height: 170px;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.popup-cart .order-wrap .box img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 25%;
    position: sticky;
}
.popup-cart .order-wrap .box h5{
    padding-left: 5px;
    padding-bottom: 0px;
    font-size: 1em;
    text-align: justify;
}
.popup-cart .order-wrap .box p{
    margin-top: 0%;
    font-size: 0.6em;
    text-align: left;
}
.popup-cart .order-wrap .box button{
    position: absolute;
    float: right;
    bottom: 18px;
    right: 18px;
    font-size: 0.9em;
    padding: 3px;
}
.popup-cart .bbott {
    position: relative;
    margin-bottom: 10px;
    width: 400px;
}
.popup-cart .bbott #text{
    text-align: justify;
}

.popup-cart .bbott #value{
    text-align: right;
}

.popup-cart .bott {
    bottom: 2vh;
}

.popup-cart .bott button {
    font-size: 1.4em;
}

#background{
    width: 100%;
    position: absolute;
    z-index: -9999;
}
.background-img{
    width: 40vh;
    position: fixed;
    z-index: -9999;
}
.left{
    width: 70vw;
}

/* recommend menu */
#c_recommend_menu {
    background: #912e00;
}
.home_c{
    padding: 0;
}

.card-body {
    align-self: normal;
}

#get_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
}

#name_recommend_menu {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* กำหนดบรรทัด */
    -webkit-box-orient: vertical;
    /* การวางเนื้อหาในแนวตั้ง*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* เป็น... ถ้าจะให้เป็น--- ก็เปลี่ยนเป็นellipsis -> "---" */
}